@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-main:var(--main);
  --color-mainblack:var(--mainblack);
  --color-mainwhite:var(--mainwhite);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-grotesk:var(--font-grotesk);
  --font-playfair:var(--font-playfair);
  --font-roboto-slab:var(--font-roboto-slab);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #C7702A;
    --main:#b11f29;
    --mainblack:#000000;
    --mainwhite:#ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
